.DS_Store
*.log
.idea/
.vscode/
node_modules/
frontend/dist/
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
!backend/storage/logs/.gitignore
!backend/storage/framework/cache/.gitignore
!backend/storage/framework/sessions/.gitignore
!backend/storage/framework/views/.gitignore
!backend/bootstrap/cache/.gitignore
backend/database/*.sqlite
backend/database/*.sqlite-journal
backend/public/storage
backend/public/hot
*.pem
.env
